fastapi==0.123.10
uvicorn[standard]
pydantic[email]
pydantic-settings
python-dotenv
python-multipart
psycopg2-binary
sqlalchemy
websockets
supabase
langchain==1.1.2
langchain-community==0.4.1
langchain-openai
langchain-groq
langchain-postgres==0.0.17
pgvector
